h1 {
    position : absolute;
    left : 515px;
    top  : 50px;
   
    font : 3em "typewriter", sans-serif;
  }
  
  #user {
    position: absolute;
    left : 398px;
    top  : 235px;
  }
  
  #password {
    position: absolute;
    left : 390px;
    top  : 285px;
  }
  
  label {
    font : 2em "typewriter", sans-serif;
  }
  
  input, textarea {
    font    : .9em/1.5em "handwriting", sans-serif;
  
    border  : ridge;
    padding : 0 10px;
    margin  : 0;
    width   : 240px;
  
    background: none;
  }
  
  button {
    position     : absolute;
    left         : 440px;
    top          : 360px;
  
    padding      : 5px;
  
    font         : bold 2em sans-serif;
    border       : 2px solid #333;
    border-radius: 5px;
    background   : none;
  
    cursor       : pointer;
  }
  
  button:hover,
  button:focus {
    outline   : none;
    background: #000;
    color   : #FFF;
  }